body {
	background-color: #DDDDDD;
	font-size: 12px;
	margin: 0;
}

#main-menu {
	background-color: #003366;
	padding: 10px;
	color: white;
}

#logout-menu {
	color: white;
	padding: 0;
	margin: 0;
}


a, a:visited {
	color: #5596C4;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

#status-tag-done {
	float: left;
	background-color: #66CC66; /* a green tone */
	color: white; 
	text-align: center; 
	padding: 3px; 
	width: 50px;
	font-size: 12px;
}

#status-tag-done a {
	color: white;
	text-decoration: none;
	font-size: 12px;
} 

#status-tag-wip {
	float: left;
	background-color: #FF9933; /* a red to orange tone */
	color: white; 
	text-align: center; 
	padding: 3px; 
	width: 50px;
	font-size: 12px;
}

#status-tag-wip a {
	color: white;
	text-decoration: none;
	font-size: 12px;
} 


#delete-x {
	float: left;
	padding: 3px;
	margin-left: 10px;
	clear: right;
}


