<div style="background-color:#1A4F85; color:white;margin:0;padding: 10px;">
	<div style="float:right;" id="blue-icons">
		<%= link_to image_tag('/images/001_04.png', :size => "16x16"), 
			efforts_url %>
	</div>
	<div style="background-color:#1A4F85; color:white;"><strong>Statistics</strong></div>
</div>

<div style="background-color:#EFEFEF;">
	<br />
	<div style="float:left; width:180px; margin-left: 15px;">
		&nbsp;<br />
		Billable:<br />
		Non-billable:
	</div>
	<div style="float:left; width:180px;">
		<strong>Today:</strong><br />
		34h<br />
		30h
	</div>
	<div style="float:left; width:180px;">
		<strong>This week:</strong><br />
		34h<br />
		30h
	</div>
	<div style="float:left; width:180px;">
		<strong>This month:</strong><br />
		34h<br />
		30h
	</div>
	<div style="clear:both;"></div>
</div>
<div style="background-color:#EFEFEF;">
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;  margin-left: 15px;">
		<strong>Total:</strong>
	</div>
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
		123
	</div>
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
		234
	</div>
	<div style="float:left; width:180px; border-top: thin dotted #DDDDDD;">
		345
	</div>
	<div id="clear-both;">&nbsp;<br /><br /></div>
</div>