<div id="workspace-header1" style="background-color: #303030;">
	<div id="blue-icons">
		<%# New Effort %>
		<%= link_to_remote image_tag('/images/001_01.png', :size => "16x16"),
			{ :url => { :action => "new" } }, 
			{ :href => url_for(:action => :new) }
		%>

		<%# Find Effort %>
		&nbsp; <%= link_to_remote image_tag('/images/001_38.png', :size => "16x16"), :url => { :action => :new }, :update => 'neweffort' %>
	</div>
	<%# workspace-header1 title %>
	<div id="efforttitle"><strong>Efforts</strong></div>
</div>


<div id="workspace-body">
	<div id="neweffort" style="padding:0px; background-color:#5A9ECF; height:auto; overflow:auto;border-bottom:thin dotted #FFFFFF; color:white;">
		<%#= render :action => "new" %>
	</div>
	
	<div id="clear-both"></div>

	<div id="listefforts">
		<%= render :partial => "index" %>
	</div>
</div>

