<div id="clear-both"></div>
<div style="float:left; padding: 5px 15px 5px 15px;">
	<%= image_tag "/images/w2task.png" %>
</div>

<% if controller.controller_name == 'pages' %>
	<div style="text-align:left; margin-left:15px;">
		&copy; 2008 - 2009 w2task.com. All rights reserved<br />
		A web service provided by <em>Offshore Technical Management Solutions FZC</em>, Ajman FZ, UAE<br />
	</div>
<% else %>
	<div style="text-align:left; margin-left:15px;">
		&copy; 2008 - 2009 w2task.com. All rights reserved<br />
		A web service provided by <em>Offshore Technical Management Solutions FZC</em>, Ajman FZ, UAE<br /><br />
	</div>
<% end %>