<div id="clear-both"></div>
<div style="text-align:left; margin-left:15px;">
	&copy; 2008 w2task.com. All rights reserved<br />
	<%= link_to "Terms & Conditions", "/pages/terms_and_conditions", :target => "_blank" %> | 
	<%= link_to "Confidentiality Policy", "/pages/confidentiality_policy", :target => "_blank" %> | 
	<%= link_to "Credits", "/pages/credits", :target => "_blank" %><br />
	A web service provided by <em>Offshore Technical Management Solutions FZC</em>, Ajman FZ, UAE<br /><br />
</div>