<div id="clear-both"></div>
<div style="text-align:left; margin-left:15px;">
	&copy; 2008 w2task.com. All rights reserved<br /> <%= link_to "Terms & Conditions", "" %> | <%= link_to "Confidentiality Policy", "" %> | <%= link_to "Credits", "" %><br />
	A web service provided by <em>Offshore Technical Management Solutions FZC</em>, Ajman FZ, UAE<br /><br />
</div>